.search_and_profie_con{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.profile_con{
    display: flex;
    flex-direction: column;
}

.profile_sub_con{
    display: flex;
}

.profile_logo {
    background-color: red;
    border-radius: 50%;
    padding: 4px;
    color: white;
    margin-right: 10px;
}

.search_container{
    display: flex;
    align-items: center;
    width: 30%;
    background-color: #ECECEE;
    border-radius: 25px;
    padding: 10px;
}
.search_container input{
    height: 30px;
    border: none;
    outline: none;
    background-color: #ECECEE;
   
}
@media only screen and (max-width: 480px) {
.profile_con{
    display: none;
}
.search_container{
    width: 100%;
}
.search_container input{
    width: 100%;
}

}